body {
    background-color: lightgrey;
}

.auth-card {
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-button {
    color: red;
    font-size: 21px;
    cursor: pointer;
}